.commentBox{
	width: 100%;
	/* height: 90px; */
	height: fit-content;
	border-radius: 5px;
	border: 1px black solid;
	display: inline-flex;
	margin: auto;
	margin-bottom:5px;
	color: black !important;
	/* background-color: #eeeeee; */
	background-color: #E6E6FF;
}
.comment{
	width: 100%;
	height: 100%;
	margin-top: 5px;
}
.nombre{
	/* font-size: 25px; */
	width: 100%;
}
.nombre img{
	height: 25px;
	float: right;
	margin-right: 5px;
	margin-top: 2px;
}
.nombre p{
	margin: 0 0;
}
.contenido p{
	font-size: smaller;
}
.dislike{
	/* background-color: #FFDCDC; */
	background-color: #f89b9b;
}
.like{
	/* background-color: #DBFFDA; */
	background-color: #b0fbae;
}

.hidden{
	display: none;
}

.animarElem{
	animation: animarElem 3s;
	animation-iteration-count: infinite;

}
@keyframes animarElem{
	33%{
		transform: rotate(10deg)
	}
	66%{
		transform: rotate(-40deg);
		transform: scale(1.1);
	}
	100%{
		transform: rotate(0deg)
	}
} 

.cajaNuevoComentario{
	width: 100%;
	height: 30px;
	margin: 0 0 5px 0;
}
.divInputComentario input{
	border: none;
	width: 100%;
	height: 100%;
	padding-left: 3px;
	margin: 0 0 0 1px;
	border-radius: 3px;
}
.divInputComentario{
	width: 72.5%;
	float: left;
	height: 100%;
}
.divBotonComentario{
	float: right;
	width: 25%;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 2px 0 0 0;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	border-radius: 3px;
	background-color: #ACD439;
}
.divBotonComentario:hover{
	background-color: #80a11d;
}

.lineaDivisoriaAddComentario{

	height: 2px;
	width: 100%;
}


.giganteBackground{
	position: fixed;
	top: 0;
	bottom: 0;
}
.pulgares{
	width: 50%;
	height: fit-content;
	background-color: #91136e;
	position: absolute;
	bottom:-65%;
	left:25%;
	z-index: 10;
	padding: 0 0 5px 0;
}
.pulgares p{
	text-align: center;
}
.mensajeMiLista{
	width: 50%;
	height: fit-content;
	background-color: #91136e;
	position: absolute;
	top: 25%;
	left: 25%;
	z-index: 10;
	padding: 5px 0 5px 0;
}
.mensajeMiLista p{
	text-align: center;
}
.float-left{
	float: left;
}
.float-left img{
	width: 35px;
	margin-left: 35px;
}
.float-right{
	float: right;
}
.float-right img{
	width: 35px;
	margin-right: 35px;
}

@media screen and (min-width : 1150px){
	.mensajeMiLista{
		width: 200px;
		top: 45%;
		left: 40%;
		margin-left: -100px;
	}
	.pulgares{
		width: 20%;
		bottom:-75%;
		left:40%;
	}
}

.descenso{
	animation: agrandarse 1s forwards;
	/* animation: agrandarse 2s easeOutBounce forwards; */
}

@keyframes agrandarse{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1)
	}
}


.indicadorComentario{
	margin-top: 5px !important;
	margin-bottom: 0 !important;
}