.commentBox{
	width: 99%;
	height: 70px;
	border-radius: 5px;
	border: 1px black solid;
	display: inline-flex;
	margin: auto;
	margin-bottom:5px;

}
.comment{
	width: 100%;
	height: 100%;
	margin-top: 5px;

}
.nombre{
	font-size: 25px;
	width: 100%;
}
.nombre img{
	height: 25px;
	float: right;
	margin-right: 5px;
	margin-top: 2px;
}
p, h4{
	margin: 0 0 0 5px;
}
.nombre p{
	font-size: 18px;
}
.contenido p{
	font-size: 16px;
}
.dislike{
	/* background-color: #FFDCDC; */
	background-color: #f89b9b;
}
.like{
	/* background-color: #DBFFDA; */
	background-color: #b0fbae;
}

.hidden{
	display: none;
}
/* .dislike .nombre button{
	background-color: #FFDCDC;
	height: 30px;
	border: 0px;
	margin-left: 249px;
	border-radius: 4px;
    position: absolute;
}
.like .nombre button{
	background-color: #DBFFDA;
	height: 30px;
	border: 0px;
	margin-left: 249px;
	border-radius: 4px;
    position: absolute;
} */

.animarElem{
	animation: animarElem 1s;
	animation-iteration-count: infinite;

}
@keyframes animarElem{
	25%{transform: translateY(2px);opacity: 1; }
	50%{transform: translateY(-2px);opacity: 1; }
	75%{transform: translateY(2px);opacity: 1; }
	100%{transform: translateY(-2px);opacity: 1; }
} 

.agregarComentario{
	width: 100%;
	height: 40px;
	background-color: #91136E;
	border-radius: 2px;
	margin: 0 0 5px 0;
}
.addComentario{
	border: none;
	border-bottom: 2px black solid;
	padding: 0 0 0 0;
	width: 85%;
	margin: 0 0 0 5px;
	height: 30px;
	background-color: #91136E;
	font-size: 16px;
}
.agregarComentario img{
	width: 30px;
	/* height: 37px; */
	float: right;
	margin: 5px 5px 0 0;
}
.lineaDivisoriaAddComentario{

	height: 2px;
	width: 100%;
}


.giganteBackground{
	position: fixed;
	top: 0;
	bottom: 0;
}
.pulgares{
	width: 50%;
	height: 100px;;
	background-color: #91136e;
	position: absolute;
	top:50%;
	left:25%;
}
.mensajeMiLista{
	width: 50%;
	height: 40px;;
	background-color: #91136e;
	position: absolute;
	top:50%;
	left:25%;
}
.mensajeMiLista p{
	text-align: center;
	margin: 10px 0 10px 0;
}
.float-left{
	float: left;
}
.float-left img{
	width: 35px;
	margin-left: 35px;
}
.float-right{
	float: right;
}
.float-right img{
	width: 35px;
	margin-right: 35px;
}
.pulgares p{
	text-align: center;
	margin: 10px 0 10px 0;
}
@media screen and (min-width : 1000px){
	.mensajeMiLista{
		width: 15% !important;
		top:50%;
		left:42.5%;
	}
	.addComentario{
		width: 95%;
		margin: 0 0 0 5px;
		font-size: 16px;
	}
	.pulgares{
		width: 20%;
		height: 100px;;
		top:50%;
		left:40%;
	}
}