body,p,input{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
input{
	border: none;
}
.contenedorConfiguracion{
	width: 90%;
	height: 600px;
	margin: auto;
}
.tituloConfiguracion{
	font-size: 20px;
	margin-left: 5px;
}
.lineaTituloConfiguracion{
	width: 100%;
	background-color: #000000;
	height: 2px;
	margin: 5px 0 5px 0;
}
.elementoConfiguracion{
	margin: auto;
	width: 90%;
}
.elementoConfiguracion p,input{
	font-size: 16px;
}
.anchor{
	text-align: center;
    display:block;
}
.elementoConfiguracion input{
	height: 20px;
	width: 100%;
	color: #000000;
}
.lineaConfiguracion{
	width: 100%;
	height: 1px;
	background-color:#A4A3A3;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}