*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}


.scroll-movies{
    position: relative;
    width: 100%;
    height: 140px;
    overflow-y: hidden;
    overflow-x: scroll;

}
.botonLupa{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.margenLindo{
    margin: 0 3% !important;
}

.sectorPeliculas{
    margin: 0 3% !important;
}

.sidebarFlexLast{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60%;
    height: 70%;
    width: 100%;
}

.scroll-movies::-webkit-scrollbar{
    width: 0;
}

.movie-card{
    z-index: 10;
}

.container-movies{
    position: relative;
    height: inherit;
    width: max-content;
}

.container-movies img{
    width: 94px;
    height: 133px;
}

.sectorPeliculas{
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
.promocion img{
    width: 250px;
    height: 132px;
}

.sectorPeliculas h3{
    margin-left: 10px;
}

.scrollTop{
    width: 100%;
    height: 34px;
    overflow: hidden;
}


.movie-card{
    position: relative; 
    z-index: 100;
    margin-left: 5px;
    overflow: hidden;
}

.agrandar{
    animation: hoverDeCard 1s forwards;
}

.darkened-card{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.infoTop{
    height: 44px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute; top: 2px; left: 3px;
    color: white;
}
.infoBottom{
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute; bottom: 5px; left: 6px;
    color: white;
}

.container-movies a{
    float: left;
}



.invisiblePropio{
    opacity: 0;
}

.mostrarInfo{
    animation: mostrarInformacion 1s forwards;
}
.scrollLeft{
    position: absolute;
    z-index: 300;
    left: 0;
    top: 30px;
    bottom: 30px;
    width: 30px;
}

.scrollRight{
    position: absolute;
    z-index: 300;
    right: 0;
    top: 30px;
    bottom: 30px;
    width: 30px;
}
.scrollLeftPromo{
    position: absolute;
    z-index: 300;
    left: 0;
    top: 45px;
    bottom: 75px;
    width: 75px;
}

.scrollRightPromo{
    position: absolute;
    z-index: 300;
    right: 0;
    top: 45px;
    bottom: 75px;
    width: 75px;
}

.container-movies a{
    margin-left: 5px;
}

.promocion a{
    margin-left: 10px;
}


.carouselMensage{
    color: white;
    display: block;
    background-color: rgba(0, 0, 0, 0.705);
    position: absolute;
    z-index: 5;
    padding: 15px;
    width: 100%;
}
.carousel, .carousel-item{
    overflow: hidden;
}

.carousel{
    margin-bottom: 25px !important; 
}

.mensajeTop{
    top: 0;
}

.mensageBot{
    bottom: 0px;
    margin: 0;
    padding: 15px;
}

.oscurecimientoSlide{
    position: absolute;
    right: -1px;
    left: 75%;
    top: 0;
    bottom: 0;
    z-index: 230;
    background: rgb(47,3,35);
    background: linear-gradient(90deg, rgba(47,3,35,0) 0%, rgba(47,3,35,1) 100%);
    pointer-events: none;
}
@keyframes mostrarInformacion{
    0%{

    }
    100%{
        opacity: 1;
    }
}

@keyframes hoverDeCard{
    0%{

    }
    100%{
        transform: scale(2);
    }
}


@media (min-width: 900px){
    .scroll-movies{
        
        height: 200px;
    }

    .carousel, .carousel-item{
        overflow: hidden;
        height: 500px;
    }

    .sectorPeliculas h3{
        font-size: 25px;
    }

    .container-movies img{
        
        width: 142px;
        height: 200px;
    }

    .promocion img{
        width: 900px;
        height: 500px;
    }
    
    .promocion{
        height: 500px;
    }

    .promocion .scroll-movies{
        height: 300px;
    }

    .carouselMensage{
        font-size: 24px;
    }

    
    .promocion .darkened-card img{
        display: block;
        position: relative;
        top: 42%;
        margin: auto;
        width: auto;
        height: 100px;
    }

    .promocion .infoTop{
        font-size: 24px;
        height: unset;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute; top: 2px; left: 3px;
        color: white;
    }
    promocion .infoBottom{
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute; bottom: 5px; left: 6px;
        color: white;
    }
    
}

.algoTransparente{
    opacity: 0.5;
}

.darkened-card img{
    display: block;
    position: relative;
    top: 33%;
    margin: auto;
    width: auto;
    height: 40px;
    overflow: hidden;
}
