body,p,input{
	margin: 0 0;
	padding: 0 0;
	border: none;
	font-family: 'Open Sans', sans-serif !important;
}
input{
	font-size: 30px;
}
.fondo{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	bottom:0;
	z-index: -2;
	background-image: url("images/popcorn2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	filter: blur(4px);
}
.fondoColor{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #2F0323;
	top:0;
	bottom:0;
	z-index: -2;
}
.pasosRegistro{
	margin-top: 15%;
	width: 100%;
	text-align: center;
}
.pasosRegistro p{
	display: inline;
	padding-left: 5px;
}
.pasoSiguiente{
	color: #DEF1A6;
}
.contenedorLogin{
	width: 90%;
	height: 100%;
	margin: auto;
	margin-top: 35%;
}
.contenedorRegistro{
	width: 90%;
	height: 100%;
	margin: auto;
	margin-top: 10%;
}
.tituloLogin{
	font-size: 30px;
	text-align: center;
}
.formularioLogin{
	width: 100%;
}
.inputLogeo{
	background-color: #A4A3A3;
	height: 40px;
	width: 100%;
	margin: 0 0 15px 0;
}
.divVencimientoMes{
	width: 50%;
	float: left;
	margin-bottom: 10px;
	text-align: center;
}
.divVencimientoAnio{
	width: 40%;
	float: right;
	text-align: center;
}
.clearFloat{
	clear: both;
}
label{
	display: block;
	margin: 0 0 0 5px;
	font-size: 20px;
}
.labelOculto{
	display: none;
}
.botonConfirmar{
	width: 100%;
	height: 40px;
	background-color: #ACD439;
	border-radius: 2px;
}
.botonConfirmar p{
	font-size: 20px;
	text-align: center;
	padding-top: 8px;
}
.recordarUsuario{
	width: 100%;
	margin: 10px 0 0 0;
}
.recordarUsuario p{
	display: inline;
}
.anchorExtra{
	margin: 20px 0 0 0;
	width: 100%
}
.anchorExtra p{
	float: left;
}
.anchorExtra a{
	float: right;
	margin-left: 3px;
}

.logoRV{
	position: absolute;
	top:-20px;
	left:0;
}
.logoRV img{
	width: 80px;
	height: 80px;
}
.inputError{
	background-color: #FFDCDC;
	animation: animarInput 0.5s;
}

.formularioLogin, .anchorExtra p, .anchorExtra a{
	color: white;
}

.botonConfirmar{
	color: black;
}
@keyframes animarInput{
	25%{transform: translateX(10px);}
	50%{transform: translateX(-20px);}
	75%{transform: translateX(30px);}
	25%{transform: translateX(-30px);}
}
.mensajeError{
	color: #f87979;
	font-size: 18px;
}
@media screen and (min-width: 900px){
	.contenedorLogin{
		width: 30%;
		margin-top: 13%;
	}
	.contenedorRegistro{
		width: 30%;
		margin-top: 0;
	}
	.logoRV{
		top:-40px;
	}
	.logoRV img{
		width: 150px;
		height: 150px;
	}
	.pasosRegistro{
		margin: 6% 0 3% 0;
	}
	.pasosRegistro p{
		padding-left: 20px;
		font-size: 20px;
	}
}