*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #91136e;
    width: 100%;
    height: 66px;
}

.computer{
    display: none;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 0 10px;
}

nav > ul li img{
    height: 40px;
    position: relative;
    bottom: -13.64%;
}

nav ul .lupa{
    height: 33px;
    bottom: -11.5%;
}

.logo{
    height: 90px;
    position: relative;
    bottom: 12%;
}

li{
    list-style-type: none;
}

.sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -231px; 
    z-index: 10;
    width: 231px;
    background-color: #A72D85;
}

.iconAndText *{
    display: inline-block;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    margin-left: 10px;
}

.iconAndText{
    width: 160px;
}

.sidebar li p{
    margin-top: 5px;
}

.sidebar li img{
    width: 34px;
    height: 34px;
}

.sidebar li{
    height: 35px;
    position: relative;
    left: 5%;
}

.sidebarButtons{
    position: absolute;
    top: 100px;
    bottom: 0;
    z-index: 10;
    width: 231px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
}

.flexButtonsSidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    margin: 10px 0;
}

#cerrarSidebar{
    position: absolute;
    top: 15px;
    right: 0;
    background-color: transparent;
    border: none;
}

#nombreSitio{
    margin: 0;
    width: fit-content;
    position: absolute;
    top: 20px;
    left: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.abierto{
    animation: open 0.6s ease-in;
    animation-fill-mode: both;
}

.cerrado{
    animation: closed 0.5s ease-out;
    animation-fill-mode: both;
}

.extraOptionsNav{
    width: 41%;
}

.optionsNavRight{
    width: 45%;
}

.extraOptionsNav p{  
    font-size: 20px;
    line-height: 29px;
    margin-top: 22px;
}
.extraOptionsNav li img{
    margin-left: 0;
}

.busqueda{
    overflow: hidden;
    width: 55%;
}

.busquedaMobil{
    width: 90%;
    margin: auto;

}




.busqueda input{
    float: left;
    display: block;
    margin: 0;
    margin-top: 15px;
    border: solid 1px black;
    border-right: none;
    height: 30px;
    width: 85%;
}

.busquedaMobil input{
    width: 75%;
    border-left: none;
}



.busqueda button{
    float: left;
    display: block;
    margin: 0;
    margin-top: 15px;
    height: 32px;
    width: 32px;
    border: solid 1px black;
    border-left: none;
    background-color: white;
}

.busquedaMobil button:first-child{
    border: solid 1px black;
    border-right: none !important;
}

.busqueda img{
    margin-top: 2px;
    height: 16px;
    width: 19px;
}

.contenedorFiltro{
    position: absolute;
    left: 0;
    top: 66px;
    height: 100px;
    width: 100%;
    background-color: #91136E;
}

.contenedorFiltro input{
    margin: 0;
    height: 19px;
}

.contenedorFiltro .flexTop{
    height: 60px;
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filterPart{
    overflow: hidden;
    width: 45%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.submitOculto{
    visibility: hidden;
}

.radioFiltro{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.serieFiltro *{
    width: fit-content;
    float: left;
}

.serieFiltro input{
    width: 30px;
}

#notificacionContainer{
    position: fixed;
    left: 90%;
    width: 0;
    height: 0;
}

#notification{
    height: 400px;
    width: 200px;
    position: relative;
    top: 70px;
    right: 140px;
}

.triangle-up {
    position: relative;
    left: 25px;
    margin: auto;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid #9F2C75;
}

.notification-body{
    background-color: #9F2C75;
    height: 370px;
    width: 100%;
    overflow-y: scroll;
}

.notification-body h6{
    text-align: center;

}

.notification-body div{
    float: left;
    margin-top: 15px;
}
.notification-body div img{
    margin-left: 5%;
    margin-top: 3px;
    width: 40%;
    float: left;
}
a{
    text-decoration: none;
    color: inherit;
}

.notification-body div p{
    float: left;
    margin-left: 10px;
    width: 40%;
    margin-top: 3px;
    line-height: 13px;
    font-size: 10px;
}

.inputFiltro{
    border: solid 1px black !important;
}

.filtroPC{
    height: 130px;
}

.filtroPC p{
    margin-top: 0;
}

@keyframes open{
    0%{
        left: -231px; 
    }
    100%{
        left: 0;
    }
}

@keyframes closed{
    0%{
        left: 0;
    }
    100%{
        left: -231px; 
    }
}


@media(min-width: 990px){
    .computer{
        display: inherit;
    }
    .mobil{
        display: none;
    }

    #notificacionContainer{
        left: 58.7%;
    }

    .triangle-up{
        left: 0;
    }
}

.hidden{
    display: none;
}