*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #91136e;
    width: 100%;
    height: 66px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 0 10px;
}

nav ul img{
    height: 40px;
    position: relative;
    bottom: -13.64%;
}

nav ul .lupa{
    height: 33px;
    bottom: -11.5%;
}

.logo{
    height: 90px;
    position: relative;
    bottom: 12%;
}

li{
    list-style-type: none;
}