body,p,h1{
	margin: 0 0;
	padding: 0 0;
	font-family: 'Open Sans', sans-serif !important;
}
.h1Titulo{
	font-size: 22px !important;
}
body{
	/* background-color: #180011 !important; */
	background-color: #2F0323 !important;
}
.contenedorPlayer{
	width: 70%;
	margin: auto !important;
	color: #A4A3A3;
}
.lineaDivisoria{
	width: 70%;
	margin: auto !important;
	height: 1px;
	background-color: #A4A3A3;
}
.contenedorVariable{
	width: 70%;
	margin: auto !important;
	margin-bottom: 25px;
	margin-top: 10px;
}
.contenedorSeriePelicula{
	position: relative;
	width: 100%;
	height: fit-content;
}
.contenedorSeriePelicula img{
	width: 100%;
}
.botonPlay{
	position: absolute;
	left:50%;
	top:50%;
	margin-left: -15px;
	margin-top: -15px;
}
.botonPlay img{
	width: 30px;
	height: 30px;
}
.botonAgregarMiLista{
	position: absolute;
	top:0;
	right:0;
	margin-top: 5px;
	margin-right: 2px;
}
.botonAgregarMiLista img{
	width: 25px;
	height: 25px;
}
.tituloSeriePelicula{
	position: relative;
	width: 100%;
	border-bottom: 1px #A4A3A3 solid;
	/* background-color: purple; */
}
.datosSeriePelicula{
	/* background-color: greenyellow; */
	text-align: center;
	margin-top: 5px;
}
.datosSeriePelicula p{
	display: inline;
	margin: 0 0 0 5px;
}
.cajaInfoSeriePelicula{
	width: 100%;
	position: relative;
}
.comentariosRecientes{
	display: none;
}
.indicadorComentario{
	display: none;
}
.botonera{
	width: 100%;
	text-align: center;
	color: #A4A3A3;
	margin: 0 0 10px 0;
}
.botonera p{
	display: inline;
	padding-right: 10px;
}
.botonera p:hover{
	color: #ACD439;
}
.botonera p:active{
	color: #ACD439;
	font-weight: bold;
}
.clear{
	clear: both;
}
@media screen and (min-width: 1150px) {
	.descripcionSeriePelicula{
		font-size: 22px !important;
	}
	.datosSeriePelicula{
		font-size: 20px;
	}
	.tituloSeriePelicula{
		font-size: 16px;
	}
	
	.h1Titulo{
		font-size: 30px !important;
	}
}

@media screen and (min-width: 700px) {
	.botonPlay img{
		width: 45px;
		height: 45px;
	}
	.botonPlay{
		margin-left: -22.5px;
		margin-top: -22.5px;
	}
	.contenedorPlayer{
		width: 70%;
		position: relative;
		height: fit-content;
	}
	.contenedorVariable{
		width: 70%;
	}
	.contenedorSeriePelicula{
		width: 70%;
		float: left;
	}
	.cajaInfoSeriePelicula{
		width: 30%;
		height: fit-content;
		float: right;
		/* margin: 0 0 0 5px; */
	}
	.cajaInfoSeriePelicula p,h1{
		margin-left: 5px;
	}
	.descripcionSeriePelicula{
		font-size: 14px;
	}
	.datosSeriePelicula{
		font-size: 20px;
		bottom: 0;
		right: 0; 
	}
	.tituloSeriePelicula{
		padding: 0 0 5px 0;
	}
	.botonAgregarMiLista img{
		width: 30px;
		height: 30px;
	}
	.comentariosDesctacados{
		width: 65%;
		float: left;
		color: #A4A3A3;
	}
	.comentariosRecientes{
		display: block;
		width: 35%;
		float: right;
		color: #A4A3A3;
	}
	.indicadorComentario{
		display: block;
		font-size: 20px;
	}
	.botonera p{
		font-size: 25px;
	}
	.lineaDivisoria{
		width: 70%;
		margin: auto;
	}
}

.infoBottom{
	bottom: 20px !important;
}
