body,p,h1{
	margin: 0 0;
	padding: 0 0;
	font-family: 'Open Sans', sans-serif !important;
}
a{
	color: inherit !important;
	text-decoration: none !important;
}
nav{
	margin-bottom: 0 !important;
}
.h1Titulo{
	font-size: 24px;
}

.sectorPeliculas p{
	margin: 0 0 0 5px !important;
}

h1{
	margin: 0 0 0 16px !important;
}
body{
	/* background-color: #180011 !important; */
	background-color: #2F0323 !important;
}
.contenedorPlayer{
	width: 100%;
	margin: 20px auto;
}
.contenedorVariable{
	width: 100%;
	margin: auto !important;
	margin-top: 20px;
}
.contenedorSeriePelicula{
	position: relative;
	width: 100%;
	height: fit-content;
}
.contenedorSeriePelicula img{
	width: 100%;
}
.botonPlay{
	position: absolute;
	left:50%;
	top:50%;
	margin-left: -15px;
	margin-top: -15px;
}
.botonPlay img{
	width: 30px;
	height: 30px;
}
.botonAgregarMiLista{
	position: absolute;
	top:0;
	right:0;
}
.botonAgregarMiLista img{
	width: 25px;
	height: 25px;
}
.tituloSeriePelicula{
	position: relative;
	width: 100%;
}
.datosSeriePelicula{
	text-align: center;
	margin-top: 5px;
}
.datosSeriePelicula p{
	display: inline;
	margin: 0 0 0 5px;
}
.cajaInfoSeriePelicula{
	width: 100%;
	position: relative;
}
.clear{
	clear: both;
}
.comentariosDesctacados{
	width: 100%;
}
.scrollTop{
	height: unset !important;
}
.movie-card{
	margin-left: 0 !important;
}
.sectorPeliculas{
	margin-bottom: 0 !important;
}
.tiuloScroll{
	font-size: 18px;
}
.botonesPelicula{
	margin-top: 10px;
}
.botonesPelicula div{
	width: 90%;
	margin: auto;
	height: fit-content;
	border-radius: 3px;
	text-align: center;
	margin-bottom: 5px;
	cursor: pointer;
}

.sectorPeliculas{
	margin-left: 0 !important;
}
.btnReproducir img {width: 20px;height: 20px; padding: 0 2px 2px 0;}
.btnAgrearLista img{width: 20px;height: 20px; padding: 0 2px 2px 0;}
.btnCalificar img  {width: 20px;height: 20px; padding: 0 2px 2px 0;}

.btnReproducir{background-color: #ACD439;}
.btnReproducir:hover{background-color: #80a11d;}

.btnAgrearLista{background-color: #E6E6FF;}
.btnAgrearLista:hover{background-color: #bfbfd8;}

.btnCalificar{background-color: #E6E6FF;}
.btnCalificar:hover{background-color: #bfbfd8;}


.cajaInfoSeriePelicula p,h1{
	margin-left: 16px;
}

@media screen and (min-width: 1150px) {

}

@media screen and (min-width: 700px) {
	.contenedorPlayer{
		width: 80%;
	}
	.botonPlay img{
		width: 45px;
		height: 45px;
	}
	.botonPlay{
		margin-left: -22.5px;
		margin-top: -22.5px;
	}
	.contenedorSeriePelicula{
		width: 70%;
		float: left;
	}
	.cajaInfoSeriePelicula{
		width: 30%;
		height: fit-content;
		float: right;
	}
	.contenedorVariable{
		width: 80% !important;
		margin-top: 20px !important;
	}
	
	.tituloSeriePelicula{
		padding: 0 0 5px 0;
	}
	.botonAgregarMiLista img{
		width: 45px;
		height: 45px;
	}
	.comentariosDesctacados{
		width: 100%;
		color: #A4A3A3;
	}
	.sectorPeliculas{
		width: 100% !important;
	}
	.centradoComentarios{
		margin: auto;
		margin-top: 20px;
		width: 50%;
	}
}

.infoBottom{
	bottom: 20px !important;
}
